*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#mainmenu {
    background: #000000;
    position: fixed; /* делаем не подвижный блок */
    bottom: 0px;
    width: 100%;
    padding: 0px;
    overflow: hidden;
    height: 40px;
    
}
#mainmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    float: left;
    font: 20px ;
    height: 40px
}
#mainmenu ul li {
    position: relative;
    left: -50%;
    float: left;
    margin: 0 10px;
    height: 40px
}
#mainmenu ul li a {
    color: #fde31c;
    display: block;
    text-decoration: none;
    padding: 0 35px;
    width: 290px;
    line-height: 40px;
}
#mainmenu ul li a:hover {
    background-color: #000000; 
    color: #0aff30; 
}