







#exit-error{
  margin: 350px auto; 
  min-height: 200px;
  min-width: 200px;
  -webkit-border-radius: 50%;
  -webkit-box-shadow: 2px 2px 3px #666666;
  -moz-box-shadow: 2px 2px 3px #666666;
  box-shadow: 2px 2px 3px #666666;
  color: #ffffff;
  font-size: 30px;
  background: #363636;
  padding: 10px 20px 10px 20px;
  border: solid #808080 2px;
  -webkit-box-shadow: 0px 0px 160px #0aff0a;
  font-family: Arial;
  text-decoration: none;
}   
#exit-error:hover {
  background: #848484;
  text-decoration: none;
}    
  text-decoration: none;   
}

