html { height: 100%; }

body {
	background: #ddd url(../img/bg.jpg) repeat;
    height: 100%;
}

header {
    background: url(../img/logo.png) no-repeat top right;
/*    height: 150px;*/
    height: 9vh;
    
    color: white;
    text-align: left;
    
    
    
    /*Віравнивание тексту по центру по вертикали*/
    display: flex;
    flex-direction: column; 
    align-items: left;        /*по горизотнале*/
    justify-content: center;  /*по вертикали*/
}

.header__title{
/*    font-size: 32px;*/
    font-size: 5vh;
    /*line-height: 40px;      высота строки*/
    margin-bottom: 5px;    /*отступ снизу*/
}

.header__firm{
/*    font-size: 50px;*/
    font-size: 8vh;
    text-transform: uppercase;
}

