/*Стили для вкладок на сайте*/
.tabs { 
    width: 90vw; 
    padding: 0px; 
    margin: 0 auto; 
    height: 75vh;
}
.tabs>input { 
    display:none; 
}
.tabs>div { 
    display: none;
    padding: 12px;
    border: 1px solid #C0C0C0;
    background: #FFFFFF;
    height: 75vh;
}

.tabs>label {
    display: inline-block;
    padding: 7px;
    margin: 0 -5px -1px 0;
    text-align: center;
    color: #666666;
    border: 1px solid #C0C0C0;
    background: #E0E0E0;
    cursor: pointer;
}
.tabs>input:checked + label {
    color: #000000;
    border: 1px solid #C0C0C0;
    border-bottom: 1px solid #FFFFFF;
    background: #FFFFFF;
}

/*стили страницы main (main.php)*/
#tab_1:checked ~ #plc_io_settings,
#tab_2:checked ~ #svg_object_settings,
#tab_3:checked ~ #con_plc_io_to_svg_settings,
#tab_4:checked ~ #logics_settings,
#tab_5:checked ~ #system_settings{
    display: block; 
}